# BASIC PYTHON DATAMANIPULATION OBJECTIVES:

## Conditional Statement : if, elif, else, nested

### Question No(1) write a program that takes an integer as input and prints whether it is an odd or even number?

In [1]:
num=int(input("Enter a number:"))
if num%2==0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter a number:45
Number is Odd

### Question No(2) write a program that check whether a given year is leap year?

In [2]:
Year=int(input("Enter the year:"))
if Year%4==0:
    print("The year is leap year")
else:
    print("The year is not a leap year")

Enter the year:2024
The year is leap year

### Question No(3)write a program to check whether a person is eligible to vote?

In [3]:
Age=int(input("Enter the age:"))
if Age>=18:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

Enter the age:21
Eligible to vote

### Question No(4) write a program  determining whether a given number is positive,negative or zero?

In [5]:
num=int(input("enter the number:"))
if num==0:
    print(num,"is zero")
elif num<0:
    print(num,"is negative number")
else:
    print(num,"is positive number")

enter the number:-22
-22 is negative number

### Question No(5) write a program that take a student's score as input and print their grade(A,B,C,D,E,F )based on the score.

In [6]:
score=int(input("enter the score:"))
if score>=80:
    print ("A grade")
elif score>=70 and score<80:
    print("B grade")
elif score>=60 and score<70:
    print("C grade")
elif score>=50 and score<60:
    print("D grade")
elif score>=40 and score<50:
    print("E grade")
else:
    print("F grade")

enter the score:56
D grade

### Question No(6) create a simple calculator program with a menu that allows users to perform addition,subtraction,multiplication,division based on their choice?

In [7]:
a=int(input("enter the num1:"))
b=int(input("enter the num2:"))
if type(a)==int and type(b)==int:
    print("multiplication",a*b)
elif a/b:
    print("division",a/b)
elif a+b:
    print("addition",a+b)
elif a-b:
    print("subtraction",a-b)
else:
    print("no calculation")

enter the num1:75
enter the num2:5
multiplication 375

### Question No(7) write a program that find and print the greatest number among three input numbers?

In [8]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = int(input("enter third number"))
if a> b and a>c:
    print(a,"is greatest.")
elif b> a and b>c:
    print(b,"is greatest.")
else:
    print(c,"is greatest.")

enter first number12
enter second number41
enter third number45
45 is greatest.

### Question No(8) names = ['Kajol',23,42,'Dhivya',35,'Jyothi',40,'Gaya',81,'Pavithra',90,'Shiny',49,'Rasika'] Print only the even numbers present in the given list?

In [10]:
names = ['Kajol',23,42,'Dhivya',35,'Jyothi',40,'Gaya',81,'Pavithra',90,'Shiny',49,'Rasika']

for value in names:
    if type(value) == int:
        if value%2==0:
            print(value)

42
40
90

### Question No(9) write a program that find and print x=10 and y=5 these values agree the condition that x>5 and y>2?

In [15]:
x= 10
y= 5
if  x>5:
    if y>2:
        print("Both conditions are true.")
    else:
        print("Second condition is false.")
else:
    print("First condition is false.")

Both conditions are true.

## String Indexing

### Question No(10) c ='Shah Rukh Khan' convert the string into list and convert back to orginal string?

In [87]:
c ='Shah Rukh Khan' # string into list
list(c)

['S', 'h', 'a', 'h', ' ', 'R', 'u', 'k', 'h', ' ', 'K', 'h', 'a', 'n']

In [92]:
name=''
final_name=name.join(list(c))
print(final_name)

Shah Rukh Khan

### Question No(11)  c='Salman Khan' display only 'Salman'?

In [99]:
c='Salman Khan'

In [100]:
c[0:6]

'Salman'

### Question No(12) d=(10,20,30,40,50,60,70,80,90,100) display only even index values?

In [101]:
d=(10,20,30,40,50,60,70,80,90,100)

In [102]:
d[0:10:2]

(10, 30, 50, 70, 90)

### Question No(13) m= ['gaya',23,'yash',24,'vijay',25,'shiny',26] get only the integers?

In [108]:
m= ['gaya',23,'yash',24,'vijay',25,'shiny',26] 

len(m)

8

In [109]:
i=0
while i<len(m):
    if isinstance(m[i],int):
        print(m[i])
    i=i+1

23
24
25
26

## Loop : While loop , For loop , Nested loop

**While loop**

### Question No(14) Print the table of 4 using while loop?

In [16]:
a = 1
while a <= 10:
    print("4 *",a, "=", 4 * a )
    a = a + 1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### Question No(15) print the even numbers till 100 using while numbers?

In [22]:
a = 1
while a <= 100:
    if a % 2 == 0:
        print(a)
    a = a + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Question No(16) data = [88,39,80,31,70,90,100,121] Print only the odd values and their indexes from the given list using the while loop?

In [23]:
 data = [88,39,80,31,70,90,100,121]

In [24]:
i = 0
while i<8:                 
    if data[i] % 2 != 0:   
        print(i, data[i])
    i = i + 1

1 39
3 31
7 121

**For loop**

### Question No(17) Factorial of any number using the for loop?

In [27]:
a = int(input("Enter a number:"))
r = 1                                        
for i in range(1,(a+1)):   
    r = r * i
print(r)

Enter a number:6
720

### Question No(18) Take a input value from the users to check whether it is prime or not?

In [31]:
a =int(input("enter a number:"))
factor=0
for i in range(1,1+a):
       if a%i==0:
        factor = factor+1
        
        
if factor==2:
       print("number is prime")
else:
       print("number is not prime")

enter a number:37
number is prime

### Question No(19) data = [88,39,80,31,70,90,100,121] Print only the odd numbers from the given list using the for loop?

In [32]:
data = [88,39,80,31,70,90,100,121]

for i in data:
    if i%2!=0:  
        print(i)

39
31
121

**Nested loop**

### Question No(20) Get the sum of all the prime numbers between 1 to 100?

In [34]:
sum = 0
for i in range (2,101):
    count = 0       
    for j in range(1, i+1):
        if (i % j == 0):
            count = count + 1
    if count == 2:
        sum= sum + i
            
            
print("The sum of all prime numbers between 1 to 100 is: ", sum)

The sum of all prime numbers between 1 to 100 is:  1060

### Question No(21) Make a floyd's triangle?

In [35]:
n=1
for i in range(0,5):
    for j in range (1,i+1):
        print(n,end = " ")
        n +=1
    print()

1
2 3
4 5 6
7 8 9 10

### Question No(22) Construct a Right angle triangle pattern for '#'?

In [37]:
for i in range(0,5):
    for j in range(i+1):          
        print('#',end = '')
    print()

#
##
###
####
#####

### Question No(23) Construct a Inverted right angled triangle?

In [38]:
for i in range(5,0,-1):
    for j in range(i,0,-1):         
        print('*',end = '')
    print()

*****
****
***
**
*

## Control Flow Statement : Break, Continue, Pass

**Break is the terminator. it terminates the loop as soon as it gets executed**

### Question No(24) Write a program to get the prime numbers between 1 to 100?

In [40]:
for i in range(2,100):          
    for j in range(2,100):      
        if i%j == 0:                
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

### Question No(25)  li = ['Satya','Pavs','Bilal','Yash','Himan',2,32,283,20,387,28,19] Get  only the names from the list using break statement in the loop?

In [41]:
li = ['Satya','Pavs','Bilal','Yash','Himan',2,32,283,20,387,28,19]

In [42]:
for i in li:
    if type(i) == int:
        break
    print(i)

Satya
Pavs
Bilal
Yash
Himan

### Question No(26) Take a input number from the user and check whether it is prime or not?

In [44]:
a = int(input("enter a number"))
if a<2:
    print(a,"not a prime number")
else:
    for i in range(2,a):
        if a%i==0:
            print(a,"not a prime number")
            break
    else:
        print(a,"prime number")

enter a number85
85 not a prime number

**continue: it skips the present position and moves to the next position.continue does not terminate the loop.**

### Question No(27) lis = ['Satya',21,56,'Pavs',72,90,16,'Bilal',56,'Yash',81,67,'Himan',34] Get only the names from given list?

In [46]:
 lis = ['Satya',21,56,'Pavs',72,90,16,'Bilal',56,'Yash',81,67,'Himan',34]

i = 0
while i< len(lis):
    if type(lis[i]) == int:
        i = i + 1
        continue
    print(lis[i])
    i = i + 1

Satya
Pavs
Bilal
Yash
Himan

### Question No(28)  ['Satya',21,56,'Pavs',72,90,16,'Bilal',56,'Yash',81,67,'Himan',34] Get only the numbers from given list?

In [47]:
 lis = ['Satya',21,56,'Pavs',72,90,16,'Bilal',56,'Yash',81,67,'Himan',34]

i = 0
while i< len(lis):
    if type(lis[i]) == str:
        i = i + 1
        continue
    print(lis[i])
    i = i + 1

21
56
72
90
16
56
81
67
34

### Question No(29) Print only the odd numbers between 1 to 10 using continue statement?

In [50]:
for i in range(1,10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

**Pass: it is just pass the loop.**

### Question No(30) Using pass statement print only the even numbers between 1 to 11?

In [53]:
for i in range(1,10):
    if i %2==0:
        pass
        print(i)

2
4
6
8

## List Comprehensions

### Question No(31) p = [14,102,121,23,130,26,34,45,148,131,128,21,118,133,144,44,33] From the given list , get only odd numbers and add them into a new list after multiplying them with 1000?

In [54]:
 p = [14,102,121,23,130,26,34,45,148,131,128,21,118,133,144,44,33]
    

output=[(i*1000)for i in p if i%2!=0]
print(output)

[121000, 23000, 45000, 131000, 21000, 133000, 33000]

### Question No(32) l = [10,20,30,40,50,60] add the data which is divisible by 3 in a new list after multiplying each number by 10?

In [55]:
 l = [10,20,30,40,50,60] 
    
    
output = [(i*10) for i in l if i%3==0]
output

[300, 600]

### Question No(33)      ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit'] =names, enter the lengths of each name which is present at even indexes in a new list?

In [56]:
names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']

output_lengths = [(len(names[i])) for i in range(len(names)) if i%2==0]
output_lengths

[8, 5, 8, 6, 5, 4, 5, 8, 6, 8]

### Question No(34)  ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit'] = names  From the given list if the length of the name is odd, then store the name in Upper case and if the length of the name is even, then store the name in Lower case?

In [57]:
names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']

output=[i.upper() if len(i)%2!=0 else i.lower() for i in names ]
print(output)

['himanshu', 'SWAGATH', 'VIJAY', 'gaya', 'siddhant', 'pavithra', 'dhivya', 'chetan', 'BILAL', 'YASHWANTH', 'yash', 'jyothi', 'SHINY', 'KAJOL', 'jaspreet', 'SHANKAR', 'rasika', 'AKASH', 'satyajit']

### Question No(35)  [101,23.5,102,24.6,103,31.2,104,32.4,105,25.6,106,34.5,107,31.5,108,40.6,109,41.5,110,36.5] = emp  In the list, ten employees ids and their salaries are given. You have to store their salaries in a new list after multiplying each value with 1000?

In [58]:
emp = [101,23.5,102,24,6,103,31.2,104,32.4,105,25.6,106,34.5,107,31.5,108,40.6,109,41.5,110,36.5]

Emp=[(i*1000) for i in emp if i<100]
print(Emp)

[23500.0, 24000, 6000, 31200.0, 32400.0, 25600.0, 34500.0, 31500.0, 40600.0, 41500.0, 36500.0]

### Question No(36) l = ['Mr Samuel Jacobs A','Mr Gagan Anand B','Mrs Mamta Upadhyay A','Mrs Aditya Smith B','Mr Kapil Gupta A','Mr Ajay Malhotra B','Mrs Shalini Iyer A','Mrs Meenakshi Iyer B']  From the list, store the names of only females from both the blocks and store them in two new lists A_block and B_block?

In [62]:
l = ['Mr Samuel Jacobs A','Mr Gagan Anand B','Mrs Mamta Upadhyay A','Mrs Aditya Smith B','Mr Kapil Gupta A','Mr Ajay Malhotra B','Mrs Shalini Iyer A','Mrs Meenakshi Iyer B']


A_block = [ i  for i in l if i.startswith('Mrs') and i.endswith("A")]
B_block = [ i  for i in l if i.startswith('Mrs') and i.endswith("B")]

In [63]:
A_block

['Mrs Mamta Upadhyay A', 'Mrs Shalini Iyer A']

In [64]:
B_block

['Mrs Aditya Smith B', 'Mrs Meenakshi Iyer B']

## Set Comprehension

### Question No(37) num={25,36,56,78,90} create a new set containing the squares of the numbers?

In [65]:
num={25,36,56,78,90} 

squares={i**2 for i in num}
squares

{625, 1296, 3136, 6084, 8100}

### Question No(38)  p= {12,13,34,31,46,17,18,19,67,40,41,21,77,84,55} create a new set containing the odd numbers?

In [72]:
 p= {12,13,34,31,46,17,18,19,67,40,41,21,77,84,55}
    
odd_numbers={i for i in p if i%2!=0}
odd_numbers

{13, 17, 19, 21, 31, 41, 55, 67, 77}

### Question No(39) l = {'Mr Samuel Jacobs A','Mr Gagan Anand B','Mrs Mamta Upadhyay A','Mrs Aditya Smith B','Mr Kapil Gupta A','Mr Ajay Malhotra B','Mrs Shalini Iyer A','Mrs Meenakshi Iyer B'} create a new set containing only female names?

In [74]:
l = {'Mr Samuel Jacobs A','Mr Gagan Anand B','Mrs Mamta Upadhyay A','Mrs Aditya Smith B','Mr Kapil Gupta A','Mr Ajay Malhotra B','Mrs Shalini Iyer A','Mrs Meenakshi Iyer B'}

female_names={i for i in l if i.startswith("Mrs")}
print(female_names)

{'Mrs Mamta Upadhyay A', 'Mrs Aditya Smith B', 'Mrs Meenakshi Iyer B', 'Mrs Shalini Iyer A'}

## Dictionary Comprehension

### Question No(40) ['Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Fraud','Normal','Normal'] = data  Find the count of fraud?

In [61]:
data = ['Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Normal','Fraud','Normal','Normal','Fraud','Normal','Normal']

output={i:data.count(i)for i in data}
output

{'Normal': 32, 'Fraud': 6}

### Question No(41)  names={'Alice','Bob','Charlie','David','Eve'} create a dictionary with name and length of the names?

In [66]:
names={'Alice','Bob','Charlie','David','Eve'}

name_lengths={name:len(name)for name in names}
print(name_lengths)

{'David': 5, 'Bob': 3, 'Charlie': 7, 'Eve': 3, 'Alice': 5}

### Question No(42) ['Himanshu218627','Swagath122','Vijay21','Gaya13210983','Siddhant1232143','Pavithra12328372080','Dhivya213','Chetan2321','Bilal213','Yashwanth23982093','Yash238029u309','Jyothi23098203u09','Shiny23230909','Kajol32013','Jaspreet213e','Shankar231','Rasika','Akash','Satyajit'] = names  create a new dictionary with names and length of names?

In [67]:
names = ['Himanshu218627','Swagath122','Vijay21','Gaya13210983','Siddhant1232143','Pavithra12328372080','Dhivya213','Chetan2321','Bilal213','Yashwanth23982093','Yash238029u309','Jyothi23098203u09','Shiny23230909','Kajol32013','Jaspreet213e','Shankar231','Rasika','Akash','Satyajit']

names_lengths={names:len(names)for names in names}
print(names_lengths)

{'Himanshu218627': 14, 'Swagath122': 10, 'Vijay21': 7, 'Gaya13210983': 12, 'Siddhant1232143': 15, 'Pavithra12328372080': 19, 'Dhivya213': 9, 'Chetan2321': 10, 'Bilal213': 8, 'Yashwanth23982093': 17, 'Yash238029u309': 14, 'Jyothi23098203u09': 17, 'Shiny23230909': 13, 'Kajol32013': 10, 'Jaspreet213e': 12, 'Shankar231': 10, 'Rasika': 6, 'Akash': 5, 'Satyajit': 8}

### Question No(43)  {'MSD':'CSK','Virat':'RCB','Hardik':'MI','Rohit':'MI','Jadeja':'CSK','Conway':'CSK','Surya':'MI','ABD':'RCB','Gayle':'RCB','Bumrah':'MI','Raina':'CSK'}=ipl  create a new dictionary with output like {'CSK' :4,'RCB' :3,'MI' :4}?

In [75]:
ipl = {'MSD':'CSK','Virat':'RCB','Hardik':'MI','Rohit':'MI','Jadeja':'CSK','Conway':'CSK','Surya':'MI','ABD':'RCB','Gayle':'RCB','Bumrah':'MI','Raina':'CSK'}


ipl_values=list(ipl.values())
ipl_keys=list(ipl.keys())

count_ipl={i:ipl_values.count(i) for i in ipl_values}
print(count_ipl)

{'CSK': 4, 'RCB': 3, 'MI': 4}

## User-Defined Function

### Question No(44) Create a UDF to  find the smallest  'n' digit number divisible by 'n'?

In [77]:
def smallest_N(n):
    s=pow(10,n-1)
    l=pow(10,n)-1
    j=[]
    for i in range(s,l+1):
        if i %n==0:
            j.append(i)
    return j[0]

smallest_N(6)

100002

### Question No(45)  Create a UDF which gives the factorial of any number?

In [80]:
def num_fact(m):
    f = 1
    for i in range(2,m+1):   
        f = f*i            
    return f


num_fact(6)

720

### Question No(46) create a UDF which take a username as an input and password as an input and your favorite question as an input.if the password ,username and question matches: print("Welecome to the lab") else print("Security Alarms Activated")?

In [81]:
def cyb_sec(u,p,q):
    return
u=input("Enter the username:")
p=input("Enter the password:")
q=input("Enter the question:")

if u=="Bad morning" and p=="Go to hell" and q=="Boss name?":
    print("welecome to the lab")
else:
    print("security alarms activated")

Enter the username:Bad morning
Enter the password:Go to hell
Enter the question:Boss name?
welecome to the lab

### Question No(47) Create a UDF to  find the greatest 'n' digit number divisible by 'n'?

In [86]:
def greatest_N(n):
    g=pow(10,n)-1
    l=pow(10,n-1)
    j=[]
    for i in range(g,l,-1):
        if i %n==0:
            j.append(i)
    return j[0]

greatest_N(6)

999996

## Lambda Function

### Question No(48)  [23.456,34.987,60.2826,27.2727,14.3898,9.2272,15.878937] = data , Using the lambda function, you have to get the floor value of each of the value given in the original list?

In [82]:
data = [23.456,34.987,60.2826,27.2727,14.3898,9.2272,15.878937]

list(map(lambda i:int(i//5),data))

[4, 6, 12, 5, 2, 1, 3]

### Question No(49)  F = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21] Get those even values which are greater than 50 from the list using lambda function?

In [83]:
F = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21]

list(filter(lambda i:i%2==0 and i>50,F))

[66, 96, 60, 72, 84]

### Question No(50)  n = ['Himanshu','Yahswanth','Siddhant','Gaya','Kajol','Yash']  Display only the name whose length is greater than 5 using lambda function?

In [84]:
n = ['Himanshu','Yahswanth','Siddhant','Gaya','Kajol','Yash'] 


list(filter(lambda i: len(i)>5,n))

['Himanshu', 'Yahswanth', 'Siddhant']

# Inheritance

**(1) Single Inheritance**

### Question No(51) Create a single inheritance?

In [1]:
class light:
    model="LED"
    brand="Philips"
    def display_features(self):
        print(f"The model of light is {self.model} and the brand {self.brand} ")
        
class solar(light):
    def solar_features(self):
        print("it is a natural source.")
        
obj=solar()
obj.display_features()
obj.solar_features()

The model of light is LED and the brand Philips
it is a natural source.

### Question No(52) Create a single inheritance of class car?

In [5]:
class car:
    color="Blue"
    Brand="Honda"
    Model="Honda city"
    def display_car(self):
        print(f"{self.Model} is the powerful model of {self.Brand} and the most favourite color is {self.color}.")
        
class model(car):
    def display_model(self):
        print(" honda amaze is most popular car.")
        
obj= model()
obj.display_car()
obj.display_model()

Honda city is the powerful model of Honda and the most favourite color is Blue.
 honda amaze is most popular car.

### Question No(53) Create a inheritance to show one parent - child relationship?

In [14]:
class Animals:
    names="Lion"
    specie="Panthera leo"
    categories="Carnivorous"
    def animal_features(self):
        print(f"The {self.names} is a large cat of the species {self.specie} and the category is {self.categories}.")
        
class Prey_animal(Animals):
    name="Deer"
    species="Cervidae"
    category="Herbivores"
    def prey_feature(self):
        print(f"The {self.name} is a {self.category} animal of {self.species} species.")
        
        
obj= Prey_animal()
obj.animal_features()
obj.prey_feature()

The Lion is a large cat of the species Panthera leo and the category is Carnivorous.
The Deer is a Herbivores animal of Cervidae species.

### Question No(54) Single Inheritance to show Manager and Employee relation ?

In [3]:
class Manager:
    def senior(self):
        return "Functional and technical master"
    
class Employee(Manager):
    def junior(self):
        return "Fresher"   
    
obj1 = Employee()
obj1.senior()

'Functional and technical master'

**(2) Multiple Inheritance**

### Question No(55) Create a Multiple Inheritance?

In [15]:
class SBI:
    def branch1(self):
        print(" SBI kerala branch.")
        
class ICIC:
    def branch2(self):
        print("ICIC mumbai branch.")
        
class BOI(SBI,ICIC):
    def branch3(self):
        print("BOI chennai branch")
        
obj=BOI()
obj.branch2()

ICIC mumbai branch.

### Question No(56) Create a inheritance to show multiple parent with one child relationship?

In [19]:
class Engine:
    def start(self):
        print("Engine started")
        
    def stop(self):
        print("Engine stopped")
        
class Wheels:
    def roll(self):
        print("Wheels rolling")
        
    def stop(self):
        print("Wheels stopped")
        
class Body:
    def open_door(self):
        print("Door opened")
        
    def close_door(self):
        print("Door closed")
        
class Car(Engine, Wheels, Body):
    def drive(self):
        print("Car is being driven")
        
obj=Car()
obj.start()
obj.stop()
obj.roll()
obj.drive()

Engine started
Engine stopped
Wheels rolling
Car is being driven

### Question No(57) Multiple Inheritance to show the relation of Work from home, Work from Office and Hybrid?

In [4]:
class WFO:
    def office(self):
        return "meetings"
    
class WFH:
    def home(self):
        return "timepass"   
    
class Hybrid(WFO,WFH):
    def hybd(self):
        return "meetings + timepass"
    
obj2 = Hybrid()
obj2.home()

'timepass'

**(3) Multilevel Inheritance**

### Question No(58) Create a multilevel inheritance?

In [1]:
class country:
    def task_1(self):
        return "India"
    
class state(country):
    def task_2(self):
        return "Kerala"
    
class city(state):
    def task_3(self):
        return "Thiruvananthapuram"
    
obj=city()
obj.task_1()

'India'

### Question No(59)  Multilevel Inheritance  to show the iPhone 13, iPhone 14 and iPhone 15 relations?

In [5]:
class iPhone13:
    def method1(self):
        return "2021"
    
class iPhone14(iPhone13):
    def method2(self):
        return "2022"   
    
class iPhone15(iPhone14):
    def method3(self):
        return "improved softwares, OS, hardware etc"
    
obj3 = iPhone15()
obj3.method3()

'improved softwares, OS, hardware etc'

**(4) Hierarchial Inheritance**

### Question No(60)  Create Hierarchial Inheritance in a company's organisational structure?

In [13]:
class Animal:
    def eat(self):
        print("The animal is eating.")

class Mammal(Animal):
    def sleep(self):
        print("The mammal is sleeping.")

class Dog(Mammal):
    def bark(self):
        print("The dog is barking.")

class Cat(Mammal):
    def meow(self):
        print("The cat is meowing.")
        
        
obj=Cat()
obj.sleep()

The mammal is sleeping.

**(5) Hybrid Inheritance**

### Question No(61) Create a Hybrid Inheritance?

In [19]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass

class Mammal(Animal):
    def speak(self):
        return "Mammal sound"

class Bird(Animal):
    def speak(self):
        return "Bird sound"

class Bat(Mammal, Bird):
    def __init__(self, name):
        super().__init__(name)
        
        
bat = Bat("Batty")
print(bat.speak())

Mammal sound

## Polymorphism

### Question No(62)  Create a program to show polymorphism?

In [20]:
class Animal:
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

def make_animal_speak(animal):
    print(animal.speak())

dog = Dog()
cat = Cat()

make_animal_speak(dog) 
make_animal_speak(cat)

Woof!
Meow!